@media screen and (min-width: 300px){


    body{
        top:0;
        bottom:0;
        right:0;
        left:0;
        font-family: sans-serif;
        background-color:#F2F2F2;
        color: black;
        
    }
    .container2{
      overflow: hidden;
    }
    
    .img1{
        position: relative;
        margin-top: 4%;
        margin-left: 15%;
        height: 400px;
        width: 300px;
        border-radius: 12px;
        
    }
     
    /*@font-face {
        font-family: "customFont";
        src: url("konstantgrotesk.otf");
    }*/
    
   
    .navbar-nav{
        margin-left: auto;
        
        /*font-family: "customFont";*/
        

    }
   
     /* green about box*/
     h1{
        font-size: 75px;
    
    }
     .aboutgreenbox{
        float: right;
        text-align: center;
        margin-top: 2%;
        width: 900px;
        height: 500px;
        color: #989D87;
        background-color:#CDD1CB;
        border: 20px solid #CDD1CB;
        border-radius: 12px;
      
    }
    .text-box{
        margin: 50px;
        padding: 20px;
        position: relative;
        margin-top:6%;
        color:black;
        text-align: justify;
        
      
      }
      .resumegreenbox{
        float: left;
        text-align: center;
        margin-top: 8%;
        padding-bottom: 8%;
        width: 650px;
        height: 830px;
        color: #CDD1CB;
        background-color:#CDD1CB;
        border: 20px solid #CDD1CB;
        border-radius: 12px;
        

      }
    /* resume */
    .imgPaper{
        position: left;
        margin-top: auto;
        margin-left: auto;
       
    }
    /* bouncing arrows*/
    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 70%;
        margin-left: -30px;
        bottom: 20px;
       

      }
      
      .arrows path {
        stroke: black;
        fill: transparent;
        stroke-width: 1px;  
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
        
      }
      
      @keyframes arrow
      {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
      }
      
      @-webkit-keyframes arrow /*Safari and Chrome*/
      {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
      }
      
      .arrows path.a1 {
        animation-delay:-1s;
        -webkit-animation-delay:-1s; 
      }
      
      .arrows path.a2 {
        animation-delay:-0.5s;
        -webkit-animation-delay:-0.5s; 
      }
      
      .arrows path.a3 { 
        animation-delay:0s;
        -webkit-animation-delay:0s; 
      }
      
      /*background moving text*/
    /*
      .rolling-box{
        display: flex;
        align-items: center;
        height: 100%;
      }

      .scroll{
        white-space: nowrap;
        margin: 0 2em;
      }

      .scroll div {
        display: flex;

      }*/

      
            
    .button{
        position: relative;
        padding: 20px;
        float: right;
        margin-top: 23%;
        margin-right: 17%;
        /*background-color: #CDD1CB; 
        border: auto solid #CDD1CB;
        border-radius: 12px;*/
        
    }
    /*text*/
    .btn{
        border: 3px solid black;
        background-color: white;
        font-size: xx-large;
        color: black;
        padding: 14px 28px;
        cursor: pointer;
    }
    /*button styling*/
    .click{
        border-color: #CDD1CB;
        color: #989D87;
    }

    .click:hover {
        background-color: #CDD1CB;
        color: #989D87;
    }

    .txtbox{
      padding: 10px;
      padding-right: 1%;
      position: absolute;
      margin-top:35%;
      margin-left:60%;
      margin-right:10%;
      right: 6vh;
      color:black;
      text-align: center;
      
    }

    .update{
      position: absolute;
      margin-left: 80%;
      margin-top: 65%;
      padding-left: 8%;
      color:#989D87;
    }

    /*projects page underlines*/
    h2{
        text-decoration: underline;
        text-decoration-color:#989D87;
    }

    /*contact page*/
    .container{
        text-align: center;
    }

    .projects{
        text-align: center;
    }

    .textbox2{
        margin-right: 15%;
        margin-left: 15%;
        padding: 10px;
        position: relative;
        text-align: justify;
    }
}